[data-index = "a1"] {
    border-bottom: 5px solid black;  
    width: 100px;
    height: 100px;
    
}
[data-index="a2"] {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 100px;
    height: 100px;
}
[data-index="a3"] {
    border-bottom: 5px solid black;
    width: 100px;
    height: 100px;
}
[data-index="b1"] {
    border-bottom: 5px solid black;
    width: 100px;
    height: 100px;
}
[data-index="b2"] {
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    width: 100px;
    height: 100px;
}
[data-index="b3"] {
    border-bottom: 5px solid black;
    width: 100px;
    height: 100px;
}
[data-index="c1"] {   
    width: 100px;
    height: 100px;
}
[data-index="c2"] {   
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: 100px;
    height: 100px;
}
[data-index="c3"] {   
    width: 100px;
    height: 100px;
}
.cell {
    width: 100px;
    height: 100px;
}